node -v
npm -v
npm init -y
npm install express jsonwebtoken bcryptjs mongoose dotenv nodemailer cors
node server.js

Generate Secret
node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"